
<p>
  <b>User:</b>
  <%= @photo.user_id %>
  <%= image_tag @photo.image.url %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo), class: "btn bnt-large" %>  
<%= link_to 'Back', photos_path, class: "btn bnt-large" %> 
<br/>
<b>Recent:</b>
<br/>
<% @photos = Photo.where("color > ? AND color < ?", (@photo.color - 900000000),  (@photo.color + 900000000)) %>
<% @photos.each do |photo| %>
    <%= link_to(image_tag(photo.image.url(:thumb)), photo.image.url(:original) ,:class=>"fancybox")%>
<% end %>

